snippet int
	<xs:element name="${1:NAME}" minOccurs="0" maxOccurs="1">
		<xs:complexType>
			<xs:attribute name="v" type="xs:int"></xs:attribute>
		</xs:complexType>
	</xs:element>
	
snippet str
	<xs:element name="${1:NAME}" minOccurs="0" maxOccurs="1">
		<xs:complexType>
			<xs:attribute name="v" type="xs:string"></xs:attribute>
		</xs:complexType>
	</xs:element>

